header {
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  }
  
  header nav {
  display: flex;
  }
  
  header nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  }
  
  header nav div {
  display: flex;
  }
  
  header nav div a {
  margin-left: 20px;
  }
  
  .menu-icon {
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  margin-right: 20px;
  }
  
  aside {
  background-color: #0a0a0a;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 60px;
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
  width: 15%;
  z-index: 999;
  }
  
  aside.open {
  transform: translateX(0);
  }
  
  aside ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  }
  
  aside li a {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  }
  
  .close-icon {
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  }
  
  main {
  background-color: #adadad;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 63px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  
  padding-left: 2%;
  overflow-x: hidden; 
  }
  
  main.with-open-side-nav {
  left: 15%;
  width: 85%;
  }
  .no-scroll {
    overflow-x: hidden;
  }
  .main-router-outlet {
    overflow-x: hidden;
    padding-top: 10%;
  }
  
  
  
  



/* header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header nav {
    display: flex;
  }
  
  header nav a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .menu-icon {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
  }
  
  aside {
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
    top: 60px;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in-out;
    width: 15%;
    z-index: 999;
  }
  
  aside.open {
    transform: translateX(0);
  }
  
  aside ul {
    list-style: none;
    margin: 0;
    padding: 20px;
  }
  
  aside li a {
    color: #fff;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .close-icon {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
  } */
  /* main {
    width: 100%;
    transition: width 0.3s ease-in-out;
  }
  
  main.menu-open {
    width: 85%;
  }
  main {
    padding-left: 15%;
    transition: padding 0.3s ease-in-out;
  }
  
  aside.open + main {
    padding-left: 0;
  }
   */