
<router-outlet></router-outlet>

<h2>Welcome to My Portfolio</h2>
<p>I'm a software developer, fitness enthusiast, and photography hobbyist. This is my platform to showcase my skills and works. Take a look around to learn more about me!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi id consequatur nam voluptatum ducimus velit consectetur ipsa deleniti, cumque iusto quis, tenetur laborum animi, perferendis repudiandae vitae placeat voluptas.</p>




<!-- <p>home works!</p>
<div class="container">
    <header class="header">
      <img src="assets/logo.png" class="header-logo">
      <nav class="header-nav">
        <a routerLink="/services" class="header-nav-link">Services</a>
        <a routerLink="/portfolio" class="header-nav-link">Portfolio</a>
        <a routerLink="/about" class="header-nav-link">About</a>
        <a routerLink="/contact" class="header-nav-link">Contact</a>
      </nav>
    </header>
    <main class="main">
      <h1 class="main-title">Capturing Memories, One Frame at a Time</h1>
      <p class="main-text">
        Hi, I'm a professional photographer specializing in capturing life's
        most precious moments. From weddings to family portraits, I strive to
        create timeless images that will be cherished for generations.
      </p>
      <button class="main-button">View Portfolio</button>
    </main>
    <aside class="aside">
      <h2 class="aside-title">Follow Me</h2>
      <div class="aside-icons">
        <a href="#" class="aside-icon">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#" class="aside-icon">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="#" class="aside-icon">
          <i class="fa fa-twitter-square"></i>
        </a>
      </div>
    </aside>
    <footer class="footer">
      <p class="footer-text">
        Copyright © {{currentYear}} Photographer Name. All rights reserved.
      </p>
    </footer>
  </div> -->