button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color:rgba(173, 28, 76, 0.993);
  }
  a[routerLink] {
    color: #cec3c3; /* change to desired color */
    text-decoration: none;
  }
  .link {
    color: #fffbfb; /* change to desired color */
    text-decoration: none;
    margin-left: 10px;
    margin-right:20px;
  }
  .mat-card-curved-corners {
    border-radius: 20px;
  }
  .mat-toolbar-curved-corners{
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }